 * {
   margin: 0;
   padding: 0;
 }

 :root {
   --mycolorforh1toh3: ;
   --mycolorforh5toh6: ;
   --mycolorforp: ;
   --mycolorforcards: ;

   --myfontsizeforh1toh3: ;
   --myfontsizeforh5toh6: ;
   --myfontsizeforp: ;
   --myfontsizeforcards: ;
 }


 .darkmode {
   background-color: black;
   color: white;
 }

 body {
   margin: 0;
   padding: 0;
   overflow-x:hidden;
 }

 .header {
   width: 100vw;
   height: 100vh;
   background-image: url(./bgimg8.jpg);
   background-size: cover;
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
 }

 .l {
   width: 30px;
   height: 30px;
   padding: 5px;
   color: white;
   margin-bottom: -10px;
 }

 .r {
   width: 300px;
   height: 380px;
   position: relative;
   z-index: 0;
   background-image: url(./myimgmain.png);
   background-size: cover;
   background-repeat: no-repeat;

   margin-top: 40px;
   margin-right: 130px;
   border-radius: 50%;
   filter: drop-shadow(1px 2px 2px black);
 }

 h4 {
   width: 260px;
   font-size: 30px;
   background-image: url(red-background-with-gold-color-combination-free-vector.jpg);
   background-clip: text;
   color: transparent;
   padding-left: 100px;
   padding-top: 70px;
   /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

 }

 .p1 {
   background-image: url(./img5.jpeg);
   background-clip: text;
   color: transparent;
   width: 210px;
   height: 200px;
   font-size: 20px;
   margin-top: 25px;
   text-align: center;
   margin-left: 100px;
 }

 h3 {
   font-size: 30px;
   color: #ffffff;
   /* margin-top: 20px; */
   /* margin-left: 20px; */
   padding: 25px;
 }


 .Box {
   height: 230px;
   width: 100vw;
   background-image: url(./bgimg6.jpg);
   background-size: cover;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 30px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0s;
   /* margin-top: 20px; */
 }

 .Box2 {
   height: 250px;
   width: 100vw;
   background-image: url(./bgimg6.jpg);
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0s;
 }



 .l1 {
   height: 210px;
   width: 210px;
   background-color: #f7f3ef;
   color: #1f2933;
   border: 1px solid rgb(237, 230, 230);
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 8px;
   font-variant: capa;
   transform: translateY(0);
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.2s;
 }

 .l1:hover {
   transform: translateY(-10px);
   /* color: white; *
      /* background-color: rgb(242, 208, 208); */
   box-shadow: 0 0 0;
 }

 .l2:hover {
   transform: translateY(-10px);
   /* color: white; */
   /* background-color: rgb(242, 208, 208); */
   box-shadow: 0 0 0;
 }

 .l3:hover {
   transform: translateY(-10px);
   /* color: white; */
   /* background-color: rgb(242, 208, 208); */
   box-shadow: 0 0 0;
 }

 .l2 {
   height: 210px;
   width: 210px;
   background-color: #f7f3ef;
   color: #1f2933;
   background-color: white;
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 8px;
   transform: translateY(0);
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.2s;
 }

 .r1 {
   height: 210px;
   width: 210px;
   background-color: #f7f3ef;
   color: #1f2933;
   background-color: white;
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 8px;
   transform: translateY(0);
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.2s;
 }

 .r1:hover {
   transform: translateY(-10px);
   /* color: white; */
   /* background-color: rgb(242, 208, 208); */
   box-shadow: 0 0 0;
 }

 .r2 {
   height: 210px;
   width: 210px;
   border: 1px solid #82b6eb;
   background-color: #f7f3ef;
   color: #1f2933;
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 8px;
   transform: translateY(0);
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.2s;
 }

 .r2:hover {
   transform: translateY(-10px);
   /* color: white; */
   /* background-color: rgb(242, 208, 208); */
   box-shadow: 0 0 0;
 }

 .r3 {
   height: 210px;
   width: 210px;
   border: 1px solid #82b6eb;
   border-radius: 20px;
   background-color: #f7f3ef;
   color: #1f2933;
   box-shadow: 2px 2px 10px black;
   padding: 8px;
   transform: translateY(0);
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.2s;
 }

 .r3:hover {
   transform: translateY(-10px);
   /* color: rgb(42, 20, 236); */
   /* background-color: rgb(242, 208, 208); */
   box-shadow: 0 0 0;
 }

 .p2 {
   font-size: 12.8px;
   width: 200px;
   height: 200px;
   padding: 1px;
   color: black;
   padding-top: 18px;
   text-transform: capitalize;
 }

 .p3 {
   font-size: 12.8px;
   width: 200px;
   height: 200px;
   padding: 1px;
   color: rgb(59, 35, 35);
   padding-top: 18px;
   text-transform: capitalize;
 }

 .p4 {
   font-size: 12.8px;
   width: 200px;
   height: 200px;
   padding: 1px;
   color: rgb(59, 35, 35);
   padding-top: 18px;
   text-transform: capitalize;
 }

 .p5 {
   font-size: 12px;
   width: 200px;
   height: 200px;
   padding: 1px;
   color: rgb(59, 35, 35);
   padding-top: 18px;
   text-transform: capitalize;
 }

 .p6 {
   font-size: 12.8px;
   width: 200px;
   height: 200px;
   padding: 1px;
   text-transform: capitalize;
   color: rgb(59, 35, 35);
   padding-top: 18px;
 }

 .nav {
   position: fixed;
   z-index: 1;
   top: 0;
   width: 100%;
   height: 30px;
   background: linear-gradient(to right, pink, rgb(5, 5, 93));
   backdrop-filter: blur(10px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 20px;

 }

 .logo {
   font-size: 15px;
   font-weight: 700;
   color: #e0e0e0;
   letter-spacing: 1px;
   padding: 10px;
   margin-right: 420px;
 }

 .logo1 {
   height: 50px;
   width: 50px;
   background-image: url(1000040949-removebg-preview.png);
   background-size: cover;
   border: 1px solid black;
   border-radius: 30px;
 }

 .menu-btn {
   font-size: 26px;
   color: white;
   cursor: pointer;
   display: none;
 }

 .nav-menu {
   list-style: none;
   display: flex;
   gap: 10px;
 }

 .nav-menu li a {
   text-decoration: none;
   font-weight: 600;
   color: white;
   padding-bottom: 5px;
   position: relative;
   font-size: 13px;
   transition: 0.3s;
   box-shadow: 0px 0px 0px black;
 }

 .nav-menu li a::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -3px;
   width: 0%;
   height: 2.5px;
   background: #04151cd4;
   transition: 0.3s;
   border-radius: 5px;
 }

 .nav-menu li a:hover::after {
   width: 100%;
 }

 .nav-menu li a:hover {
   color: #bcb3d5;
 }

 nav ul {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
   list-style: none;
 }

 .Container {
   width: 100vw;
   height: 250px;
   background-image: url(./bgimg6.jpg);
   background-size: cover;
   /* margin-top: 25px; */
   display: flex;
   justify-content:space-evenly;
   align-items: center;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0s;

 }

 .Container:hover {
   background-color: #1A2324;
 }

 .item1 {
   height: 200px;
   width: 200px;
   background-color: #f7f3ef;
   color: #1f2933;
   border: 1px solid rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px rgb(65, 64, 64);
   padding: 10px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: translateY(0);

 }

 .item1:hover {
   transform: translateY(-7px);
   box-shadow: 0 0 0 #5848c2;
   color: white;
   background-color: #222;
 }

 .item2:hover {
   transform: translateY(-7px);
   box-shadow: 0 0 0 #5848c2;
   color: white;
   background-color: #222;
 }

 .item3:hover {
   transform: translateY(-7px);
   box-shadow: 0 0 0 #5848c2;
   color: white;
   background-color: #222;
 }

 .item4:hover {
   transform: translateY(-7px);
   box-shadow: 0 0 0 #5848c2;
   color: white;
   background-color: #222;
 }

 .item2 {
   height: 200px;
   width: 200px;
   background-color: #f7f3ef;
   color: #1f2933;
   padding: 10px;
   box-shadow: 2px 2px 10px rgb(65, 64, 64);
   border: 1px solid rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px rgb(65, 64, 64);
   padding: 10px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: translateY(0);

 }

 .item3 {
   height: 200px;
   width: 200px;
   background-color: #f7f3ef;
   color: #1f2933;
   border: rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 10px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: translateY(0);
 }

 .item4 {
   height: 200px;
   width: 200px;
   background-color: #f7f3ef;
   color: #1f2933;
   border: rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 10px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: translateY(0);
 }

 .Container2 {
   width: 100vw;
   height: 250px;
   background-image: url(./bgimg6.jpg);
   background-size: cover;
   /* margin-top: 25px; */
   display: flex;
   justify-content:space-evenly;
   align-items: center;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: translateY(0);
 }

 .Container2:hover {
   background-color: rgb(245, 243, 242);
 }

 .item5 {
   height: 200px;
   width: 200px;
   background-color: #f7f3ef;
   color: #1f2933;
   border: 1px solid rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px rgb(65, 64, 64);
   padding: 10px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: rotate(0deg);
 }

 .item5:hover {
   transform: rotate(10deg);
   box-shadow: 0 0 0 #5848c2;
   color: rgb(18, 18, 18);
   background-color: rgb(241, 203, 203);
 }

 .item6:hover {
   transform: rotate(10deg);
   box-shadow: 0 0 0 #5848c2;
   color: rgb(18, 18, 18);
   background-color: rgb(241, 203, 203);
 }

 .item7:hover {
   transform: rotate(10deg);
   box-shadow: 0 0 0 #5848c2;
   color: rgb(18, 18, 18);
   background-color: rgb(241, 203, 203);
 }

 .item8:hover {
   transform: rotate(10deg);
   box-shadow: 0 0 0 #5848c2;
   color: rgb(18, 18, 18);
   background-color: rgb(241, 203, 203);
 }

 .item6 {
   height: 200px;
   width: 200px;
   background-color: #f7f3ef;
   color: #1f2933;
   padding: 10px;
   box-shadow: 2px 2px 10px rgb(65, 64, 64);
   border: 1px solid rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px rgb(65, 64, 64);
   padding: 10px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: translateY(0);

 }

 .item7 {
   height: 200px;
   width: 200px;
   background-color: #f7f3ef;
   color: #1f2933;
   border: rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 10px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: translateY(0);
 }

 .item8 {
   height: 200px;
   width: 200px;
   background-color: #f7f3ef;
   color: #1f2933;
   border: rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 10px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: translateY(0);
 }

 ul {
   font-size: 15px;
   padding: 15px;
 }

 .Container3 {
   width: 100vw;
   height: 250px;
   background-image: url(./bgimg6.jpg);
   background-size: cover;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0s;
   transform: rotate(0);

 }

 .Container3:hover {
   background-color: rgb(250, 247, 249);

 }

 .item9 {
   height: 150px;
   width: 190px;
   background-image: url(./bgimg6.jpg);
   background-size: cover;
   border: rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 15px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: rotate(0);
 }

 .item9:hover {
   transform: rotate(360deg);
   box-shadow: 0 0 0 #5848c2;
   color: rgb(18, 18, 18);
   background-color: #1A2324;
 }

 .item10:hover {
   transform: rotate(360deg);
   box-shadow: 0 0 0 #5848c2;
   color: rgb(18, 18, 18);
   background-color: rgb(203, 225, 120);
 }

 .item11:hover {
   transform: rotate(360deg);
   box-shadow: 0 0 0 #5848c2;
   color: rgb(18, 18, 18);
   background-color: rgb(203, 225, 120);
 }

 .item10 {
   height: 150px;
   width: 190px;
   background-image: url(./bgimg6.jpg);
   background-size: cover;
   border: rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 15px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: rotate(0);
 }

 .item11 {
   height: 150px;
   width: 190px;
   background-image: url(./bgimg6.jpg);
   background-size: cover;
   border: rgb(187, 186, 186);
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   padding: 15px;
   transition-property: all;
   transition-duration: 1s;
   transition-delay: 0.5s;
   transform: rotate(0);
 }

 .box {
   height: 90px;
   width: 90px;
   background-color: blue;
   margin: 10px auto;
   background-image: url(OIP.jpeg);
   background-size: cover;
   border: 1px solid black;
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
 }

 .box2 {
   height: 90px;
   width: 90px;
   background-color: blue;
   margin: 10px auto;
   background-image: url(facebook.jpeg);
   background-size: cover;
   border: 1px solid wheat;
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
 }

 .box3 {
   height: 50px;
   width: 50px;
   color: white;
   background-color: #34495e;
   margin: 10px auto;
   background-image: url(./mailimg.webp);
   background-size: cover;
   border: 1px solid wheat;
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   margin-bottom: 5px;
 }

 .box4 {
   width: 100vw;
   height: 300px;
   background-image: url(./bgimg6.jpg);
   background-size: cover;
   display: flex;
   /* margin-top: 20px; */
   justify-content: space-evenly;
   align-items: center;
 }

 .v {
   width: 250px;
   height: 250px;
   background-color: rgb(253, 254, 254);
   background-image: url(OIP.webp);
   background-size: 250px;
   background-repeat: no-repeat;
   border-radius: 20px;
   box-shadow: 2px 2px 10px black;
   transform: translateY();
   transition: all ease-in-out 0.5s;
 }

 .v:hover {
   transform: translateY(-5px);
   box-shadow: 0px 0px 0px black;
 }

 .i {
   width: 250px;
   height: 250px;
   background-color: rgb(254, 255, 255);
   background-image: url(v2osk-1Z2niiBPg5A-unsplash.jpg);
   background-size: 370px;
   background-repeat: no-repeat;
   border-radius: 10px;
   box-shadow: 2px 2px 10px black;
   transform: translateY();
   transition: all ease-in-out 0.5s;
 }

 .i:hover {
   transform: translateY(-5px);
   box-shadow: 0px 0px 0px black;
 }

 .a {
   width: 222px;
   height: 250px;
   background-color: rgb(252, 255, 255);
   background-image: url(file_0000000000b472099bbe98205563325e.png);
   background-size: 220px;
   background-repeat: no-repeat;
   border-radius: 10px;
   box-shadow: 2px 2px 10px black;
   transform: translateY();
   transition: all ease-in-out 0.5s;
 }

 .a:hover {
   transform: translateY(-5px);
   box-shadow: 0px 0px 0px black;
 }

 h6 {
   padding: 10px;
 }

 a {
   box-shadow: 5px 5px 7px black;
 }

 h3 {
   background: linear-gradient(to right, #011b36, rgb(230, 55, 85));
   text-align: center;
 }

 .enquiry-container {
   width: 90%;
   max-width: 420px;
   margin: 40px auto;
   padding: 25px;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(12px);
   border-radius: 18px;
   border: 1px solid rgba(255, 255, 255, 0.2);
   box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
 }

 .enquiry-container h2 {
   text-align: center;
   margin-bottom: 20px;
   color: #333;
   font-weight: 700;
 }

 .input-group {
   margin-bottom: 15px;
 }

 .input-group label {
   font-weight: 600;
   display: block;
   margin-bottom: 5px;
   color: #222;
 }

 .input-group input,
 .input-group textarea {
   width: 100%;
   padding: 10px 12px;
   border: 1px solid #ccc;
   border-radius: 10px;
   outline: none;
   font-size: 15px;
   transition: 0.3s ease;
 }

 .input-group input:focus,
 .input-group textarea:focus {
   border-color: #6a5acd;
   box-shadow: 0 0 10px rgba(106, 90, 205, 0.3);
 }

 textarea {
   height: 90px;
   resize: none;
 }

 .btn {
   width: 100%;
   padding: 12px 0;
   border: none;
   border-radius: 10px;
   background: repeating-linear-gradient(orange, orangered);
   color: black;
   font-size: 17px;
   font-weight: 600;
   cursor: pointer;
   transition: all 0.5s ease;
   box-shadow: 5px 5px 8px black;
 }

 .btn:hover {
   background: repeating-linear-gradient(blue, purple);
   transform: translateY(-5px);
   box-shadow: 0 0 0 black;
   color: white;
 }

 .b {
   text-align: center;
   padding-top: 225px;
 }

 .hi {
   text-align: center;
   padding-top: 225px;
 }

 .he {
   text-align: center;
   padding-top: 225px;
 }

 .l1text {
   font-size: 20px;
   font-weight: 900;
   text-decoration: cap;
 }

 .l2text {
   font-size: 20px;
   font-weight: 900;
   text-decoration: cap;
 }

 .l3text {
   font-size: 20px;
   font-weight: 900;
   text-decoration: cap;
 }

 .l4text {
   font-size: 20px;
   font-weight: 900;
   text-decoration: cap;
 }

 .l5text {
   font-size: 20px;
   font-weight: 900;
   text-decoration: cap;
 }

 h6 {
   text-transform: capitalize;
   font-size: 12px;
 }